<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.shouyue.dao.Usersmethod">

    <insert id="regist">
        insert into  r_people (name,password,phone,email,ip,come,status) values (#{name},#{password},#{phone},#{email},#{ip},#{come},#{status})
    </insert>



    <select id="login" resultType="Users">
        select * from r_people where name=#{name} and password=#{password}
    </select>

     <select id="selectall" resultType="Users">
         select * from r_people limit #{index,jdbcType=NULL},#{number,jdbcType=NULL}
     </select>


    <insert id="add">
         insert into  r_people (name,password,phone,email,ip,come) values (#{name},#{password},#{phone},#{email},#{ip},#{come})
    </insert>

     <select id="selectone" resultType="Users" >
         select * from r_people where name like  '%${name}%'
     </select>

    <delete id="delete">
        delete from r_people where id=#{id}
    </delete>

    <update id="update">
        update r_people set  phone=#{phone},email=#{email} where id=#{id}

    </update>


    <select id="allpeople" resultType="Users">
        select * from r_people
    </select>

    <select id="byid" resultType="Users">
        select * from r_people where id=#{id}
    </select>

    <update id="updatesta">
        update r_people set   status=#{status}  where id=#{id}

    </update>

    <select id="counts" resultType="Integer">
        select count(*) from r_people
    </select>



</mapper>